@media (max-width: 1200px)
	.say-hello
		padding: 25px
	.big-title
		font-size: 45px
	.right-head
		right: 25px
		top: 25px
		+transform(scale(.7))
		+transform-origin(100%, 0)
	.uppertext
		font-size: 16px
		padding: 15px 10px
	.featured-projects 
		.project
			width: 100%
			height: 80vw
			max-height: 60vh
			padding: 0 0 15px 0
			.project-name
				font-size: 80px
				left: 10%
				top: 5%
				+transform(translate(0, 0) rotate(0deg))
			
			.product
				width: auto
				height: auto
				+transform-origin(0, 0)
			&:hover
				.project-name
					+transform(rotate(0deg))
		.ukeas
			.product
				+transform(translate(0, 100px))
				width: 100%
			&:hover
				.project-name
					+transform(translate(50px, 0))
				.product
					+transform(translate(0, 90px))

		.aigroup 
			.product
				+transform(translate(10%, 50px))
				width: 80%
			&:hover
				.project-name
					+transform(translate(50px, 0))
				.product
					+transform(translate(0, 90px))
		.goaway 
			.product
				+transform(translate(10%, 100px))
				width: 120%
			&:hover
				.project-name
					+transform(translate(50px, 0))
				.product
					+transform(translate(0, 90px))
	.announce
		max-width: none
		padding: 50px 25px
	.resume
		padding: 50px 25px
	.resume-content
		padding: 25px 0
	.half
		width: 100%
	.skill li
		padding: 20px 20px 0 0
	p 
		font-size: 18px
	
	footer 
		.footer-logo
			display: block
			margin: 10px auto
		.murmur
			display: block
			text-align: center
			margin-bottom: 25px
		.social-media
			float: none
			text-align: center
			font-size: 14px
			line-height: 1.4

	.project-landing 
		padding: 50px 25px
		.big-title
			margin-top: 100px
		&:after
			border-width: 100px 0 304vh 100vw
		img 

			right: auto
			left: 0
			// width: 100%
			height: auto
		&.ukeas img 
			position: relative
			// height: auto
			right: -10%
			bottom: auto
			left: auto
			width: 200%
			padding-top: 50px
		&.goaway img 
			position: relative
			// height: auto
			right: 40%
			bottom: auto
			left: auto
			width: 200%
			padding-top: 50px
		&.aigroup img 
			position: relative
			// height: auto
			right: 0
			bottom: auto
			left: auto
			width: 100%
			padding-top: 50px

	.project-show
		padding-top: 100px
		.project-content
			max-width: none
			width: 100%
			padding: 50px 25px
		.project-logo
			width: 100%
			padding: 0
			text-align: center
		&.ukeas
			padding-top: 50px
			margin-bottom: 0
			max-height: calc(200vh + 200px)
			position: relative
			&:before
				content: ''
				position: absolute
				left: 0
				right: 0
				bottom: 0
				display: block
				width: 100%
				height: 10%
				@include linearGradient-v(rgba(0,0,0,0), rgba(0,0,0,1))
			img
				// +transform(translateX(-275px) translateY(-100px) rotateX(40deg) rotateY(0deg) rotate(-45deg))
				+transform(none)
				width: 80%
				margin: 0 auto
				display: block
	.project-foundation
		&.ukeas
			margin-top: 100px
		.project-content
			max-width: none
			padding: 0 25px

		.project-wireframe img
			width: 200%

		&.goaway
			p 
				color: #ddd
		&.aigroup
			.project-content
				width: 100%
				position: relative
				top: 0
				float: none
			.project-wireframe
				display: block
				width: 100%
				margin-top: 50px

	.project-other 
		.project-content
			float: none
			max-width: none
			padding: 25px
		.other-link a img
			width: 100%
	.next-project
		padding: 75px 25px
		br 
			display: none
		.uppertext
			padding: 15px 0
			float: none
		.big-title	
			float: left

	.lauch-link
		font-size: 16px
	.project-other .other-link.ukeas a,
	.project-other .other-link.aigroup a
		&:nth-child(2)
			right: 0
			bottom: -20%
			left: 0
			top: auto
		&:nth-child(3)
			right: -27%
			bottom: -15%
			left: 27%
			top: auto
		&:nth-child(4)
			right: -66%
			bottom: -10%
			left: 66%
			top: auto
			z-index: 3
	.project-other .other-link.aigroup a:nth-child(2)
		z-index: 0
	.app-link
		padding: 10px 15px
		border-radius: 7px
		img
			width: 25%
		.market-name 
			.name-top
				font-size: 15px
			.name-bottom
				font-size: 25px
	.ai-pic1, .ai-pic2
		img 
			+animation(rightCarosal 5s linear infinite alternate)
	.ai-pic2
		img
			+animation(leftCarosal 5s linear infinite alternate)
	.color-ball.animated:before 
		width: 3vw
		height: 3vw
	.menu-bar
		top: 25px
		right: 25px
		width: 30px
		height: 30px
		&:before
			+transform(translateY(10px))
		&:after
			+transform(translateY(20px))
		&.active
			&:before
				+transform(translateY(15px) rotate(45deg))
			&:after
				+transform(translateY(15px) rotate(135deg))
	.menu ul li
		font-size: 35px
		color: #555
@media (max-height: 1050px)
	.project-landing
		&.ukeas img
			height: 72%
		&.goaway img
			bottom: 30%
			right: 5%
	.project-other .other-link.ukeas a
		&:nth-child(2)
			right: 0
			bottom: -20%
			left: 0
			top: auto
		&:nth-child(3)
			right: -27%
			bottom: -15%
			left: 27%
			top: auto
		&:nth-child(4)
			right: -66%
			bottom: -10%
			left: 66%
			top: auto
			z-index: 3