@import "compass/css3"
@import "compass/reset"
@import "animate"

@font-face
    font-family: cere
    src: url("../font/CerebriSans-Medium.ttf")
    font-weight: normal
    font-style: normal
@font-face
    font-family: cere-eb
    src: url("../font/CerebriSans-ExtraBold.ttf")
    font-weight: normal
    font-style: normal

@mixin linearGradient-v($top, $bottom)
    background: $top
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom))
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%)
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%)
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%)
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 )

@mixin linearGradient-h($left, $right)
    background: $left
    background: -moz-linear-gradient(left,  $left 0%, $right 100%)
    background: -webkit-gradient(left, color-stop(0%,$left), color-stop(100%,$right))
    background: -webkit-linear-gradient(left,  $left 0%,$right 100%)
    background: -o-linear-gradient(left,  $left 0%,$right 100%)
    background: -ms-linear-gradient(left,  $left 0%,$right 100%)
    background: linear-gradient(to right,  $left 0%,$right 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 )

$two: percentage(2/3)
$main-color: #54ffff
$light-color: #7bc2ff
$red-color: #7bc2ff
$fade-color: #777

@mixin jim-logo($jim-width)
    width: $jim-width
    height: $jim-width / 2
    position: relative

@mixin jb($jb-width)
    border-width: $jb-width/6 $jb-width/6 0 0

@mixin ja($ja-width)
    border-width: 0 0 $ja-width/6 $ja-width/6

@mixin mb($mb-width)
    border-width: $mb-width/2 $mb-width/2 0 0 

@mixin ma($ma-width)
    border-width: 0 $ma-width/2 $ma-width/2 0 

$logo-color: #fff
// $logo-width: 80px
// $logo-height: $logo-width / 2
// $logo-unit: $logo-width / 6
$bounce-tempo: cubic-bezier(0.55, 0.085, 0, 0.99)
// $gray-darker: fade_in($main-color, 0.05) !default


@import "main"
@import "daylight"
@import "rwd"